<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>大师好</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover">
    <link rel="stylesheet" href="assets/css/index-dialog.css">
    <link rel="stylesheet" href="assets/css/lCalendar.css">

    <script>
        var _hmt = _hmt || [];
        var offWidth = window.screen.width / 3.75;
        document.getElementsByTagName("html")[0].style.fontSize = offWidth + 'px';
    </script>

    <script src="https://res2.wx.qq.com/open/js/jweixin-1.4.0.js" charset="utf-8"></script>
    <script src="https://qzonestyle.gtimg.cn/qzone/qzact/common/share/share.js" charset="utf-8"></script>
    <script src="assets/lib/jquery-1.11.3.min.js" charset="utf-8"></script>
    <script src="assets/lib/axios.min.js"></script>
    <script src="assets/lib/vconsole.min.js"></script>

</head>

<body>

    <div class="start">
        <div class="fix-bottom-title">大师好</div>
        <img class="title" src="assets/img/dialog-title.png" alt="">
        <img class="bagua" src="assets/img/bagua.png" alt="">
        <h3 class="start-des-2">揭秘我的命运报告</h3>
        <p class="start-des-3">2019命运走势，桃花财富尽在掌握之中</p>
        <p class="start-des-4">已为 <span style="color: #D22F37" class="renshu">8750140</span> 人提供服务</p>
        <a class="start-button" javascript="void(0)">立即开始</a>
    </div>

    <div class="answer answer-1" style="display:none">
        <div class="fix-bottom-title">大师好</div>
        <div class="answer-content">
        </div>
    </div>

    <div class="answer answer-2" style="display:none">
        <div class="fix-bottom-title">大师好</div>
        <div class="answer-content">
            <div class="suan-content-mid">
                <p class="suan-content-mid-title" style="white-space:pre-line">请问你更关心你的生活中的哪个方面？</p>
                <p class="suan-content-mid-content" style="white-space:pre-line"></p>
                <div class="suan-content-foot">
                    <p class="suan-content-foot-send selectType" style="white-space:pre-line" value="0">婚姻</p><br>
                    <p class="suan-content-foot-send selectType" style="white-space:pre-line" value="1">财富</p><br>
                    <p class="suan-content-foot-send selectType" style="white-space:pre-line" value="2">健康</p><br>
                    <p class="suan-content-foot-send selectType" style="white-space:pre-line" value="3">交友</p><br>
                    <p class="suan-content-foot-send selectType" style="white-space:pre-line" value="4">事业</p><br>
                    <p class="suan-content-foot-send selectType" style="white-space:pre-line" value="6">子女</p><br>
                </div>
            </div>
        </div>
    </div>

    <div class="suan-dialog-page" style="display:none">
        <div class="suan-dialog-result">
        </div>
        <div class="suan-dialog-ask"></div>
        <script id="jTmpl_dialog_result" type="text/tmpl">
            <p class="question"><span>AAAA</span></p>
            <p class="loadings"><span><img class="load-image" src="assets/img/dialog-loading.gif" alt=""></span></p>
            <p class="answer"><span>BBBB</span></p>
            <div class="list">
                <div class="questiton"></div>
                <p class="des left loadings">
                    <span class="des-left">
                        <img class="load-image" src="assets/img/dialog-loading.gif" alt="">
                    </span>
                </p>
                <p class="des right answer"></p> 
            </div>
        </script>
        <script id="jTmpl_dialog_ask" type="text/tmpl">
            <div class="suan-dialog-ask-foot">
                {{#btnArr}}
                <p class="suan-dialog-ask-answer" value="{{requestValue}}">{{showTxt}}</p><br>
                {{/btnArr}}
            </div>
        </script>
    </div> 


    <div class="loading" style="display:none" >
        <p style="height: 3rem"></p>
        <img src="assets/img/loading-2.png" alt="">
    </div>


    <div class="suan2 result" style="display:none">
        <div class="suan2-content">
            <div class="suan2-title"></div>
            <div class="dashi dashi-intro">
                <p class="name">桂谷子</p>
                <p class="intro">正已派第七代传人，精通玄学五术——山、医、命、卜、相，钻研梅花易数、太乙神数、紫微斗数20余年，累计测算案例数万人。目前与人工智能测算产品“大师好”达成全球独家战略合作，为更多用户测算未来。</p>
            </div>
            <p class="dashi start-des-4">已为 <span style="color: #D22F37" class="renshu">8750140</span> 人提供服务</p>
            <div class="result-list result-list-yearFortue"></div>
            <div class="result-list result-list_fate"></div>
            <div class="result-list result-list-yearAdvice"></div>
            <div class="result-list result-list-fateAdvice"></div>
        </div>
        <div class="suan2-continus">继续算算</div>
        <div class="suan2-pay-bottom">
            <div class="fl">
                <p class="des-1">解锁今年<span>全部</span>运势！</p>
                <p class="des-2"><span class="ori-price">原价 ￥88.8</span> <span>限时优惠 ￥</span></span><span class="new-price price">18.8</span></span></p>
            </div>
            <div class="fr">立即支付</div>
        </div>
        <script id="jTmpl_result_title" type="text/tmpl">
            <p>{{name}}的运势报告</p><p>{{isSolarDate}} {{birth}}</p>
        </script>
        <script id="jTmpl_result_fate" type="text/tmpl">
            <div class="result-title">命运格局</div>
            <div class="result-content">
                <p class="des-1">人工智能经过计算得出命运指数：</p>
                <span class="score pay-fail"><span class="number">?</span>分</span>
                <span class="u-load pay-fail"><i style="width: 0%;"></i></span>
                <span class="score pay-ok"><span class="number">{{score}}</span>分</span>
                <span class="u-load pay-ok"><i style="width: {{score}}%;"></i></span>
                <p class="des-2">{{txt}}</p>
                <a href="javascript:void(0)" class="result-pay-btn">立即查看</a>
            </div>
        </script>
        <script id="jTmpl_result_yearFortue" type="text/tmpl">
            <div class="result-title">{{typeName}}</div>
            <div class="result-content">
                <p class="des-1">大数据对比分析你今年{{typeName}}运吉凶情况：</p>
                <span class="score"><span class="number">{{fateName}}</span></span>
                <p class="des-2">{{txt}}</p>
                <a href="javascript:void(0)" class="result-pay-btn">立即查看</a>
            </div>
        </script>
        <script id="jTmpl_result_yearAdvice" type="text/tmpl">
            <div class="result-title">改运方案</div>
            <div class="result-content">
                <p class="des-2">{{txt}}</p>
                <a href="javascript:void(0)" class="result-pay-btn">立即查看</a>
            </div>
        </script>
        <script id="jTmpl_result_fateAdvice" type="text/tmpl">
            <div class="result-title">命运建议</div>
            <div class="result-content">
                <p class="des-2">{{{txt}}}</p>
                <a href="javascript:void(0)" class="result-pay-btn">立即查看</a>
            </div>
        </script>
    </div>


    <div class="pay" style="display:none">
        <div style="position: fixed;width: 100%;height: 100%;background-color: rgba(0,0,0,.5);"></div>
        <div style="background: #fff;height: 3.73rem;position: fixed;left:0;z-index:10;width:100%;border-radius: .2rem .2rem 0 0;bottom:0;">
            <div class="pay-title">
                <p>
                    <span>支付</span>
                    <img class="pay-back" src="assets/img/close1.png" alt="">
                </p>
                <p>
                    <span><span class="price">18.8</span><span style="font-size:.18rem;">元</span></span>
                    <span class="pay-hint">当前算爱情的用户给出的反馈，准确率为99%！</span>
                </p>
            </div>
            <div class="pay-change">
                <p type='1'>
                    <img src="assets/img/wIcon.png" alt="">
                    <span>微信支付</span>
                    <img style="border:none;width:.21rem;height:.21rem" src="assets/img/end.png" alt="">
                </p>
                <!-- <p type='2'>
            <img src="../img/zIcon.png" alt="">
            <span>支付宝支付</span>
            <img src="" alt="">
          </p> -->
            </div>
            <div class="pay-btn pay-h5"><a href="javascript:void(0);" target="_blank" style="height:100%;width:100%">确认支付</a></div>
        </div>
    </div>


    <div class="zwResultDiv" style="display:none">
        <div style="height:0.1rem;"></div>
        <div class="color-fff intro">这是我依据紫微斗数的“安星诀”为你生成的命盘，后面我来为你一一解读。</div>
        <div class="suan-begin suan-begin-machine">开启探索命运之旅</div>
        <div class="chart_map"></div>
    </div>

</body>

<script src="assets/js/utils.js"></script>
<script src="assets/js/wx.js" charset="utf-8"></script>
<script src="assets/lib/animate.js" charset="utf-8"></script>
<script src="assets/js/mustache.js" charset="utf-8"></script>
<script src="assets/js/conf.js" charset="utf-8"></script>
<script src="assets/js/lCalendar.js" charset="utf-8"></script>
<script src="assets/js/index-dialog.js" charset="utf-8"></script>
<script src="assets/js/pay.js" charset="utf-8"></script>
<script>
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?a26a335dedc521ace7cd34ba23e25d6b";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
    })();


    let from = GetQueryString('source') || '';
    axios({
        method: "post",
        url: 'https://www.nihaodashi.com/nihaodashi/services/v1/status/visit',
        data: {visitUrl: 'https://www.nihaodashi.com/dashihao/?source=' + from},
        headers:{
            "version": "v1",
            "platform": "ios",
            "Token": "7e2d0ec641474c1985758959825cc1f9de29b2f02be84d90b9a7dc1edf731eba",
            "Content-Type": "application/json"
        }
    }).then(function (response) {
        console.log('send visit')
    })
    .catch(function (error) {
        console.log(error);
    });
    </script>
    <script>
        // var vConsole = new VConsole();
    </script>

</html>
